# Set the default behavior to automatically normalize line endings
* text=auto

# Ensure consistent line endings for common text files
*.js text
*.ts text
*.tsx text
*.jsx text
*.json text
*.css text
*.md text
*.yml text
*.yaml text
*.html text
*.lock text eol=lf
